/* FOOTER CSS */
.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
/* FOOTER CSS ENDS HERE */


/* NAVBAR CSS */



/* ABOUT PAGE */

/* HOMEPAGE */

/* monster-card styles */
.car-container{
    background-image: url(https://res.cloudinary.com/dprkq4xne/image/upload/v1717525356/Monster-project/scroll-background2_iubsgr.png);
}





body { 
    padding-top: 65px; 
}


