/* FOOTER CSS */
.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
/* FOOTER CSS ENDS HERE */


/* NAVBAR CSS */



/* ABOUT PAGE */

/* HOMEPAGE */







body { 
    padding-top: 65px; 
}


