#root{

    background-image: url(https://res.cloudinary.com/dprkq4xne/image/upload/v1717614620/Monster-project/background-img-project_bgftae.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}
#monster-card-container{

width: 50vh;
height: 80vh;
}


/* NAVBAR CSS */

.navbar{
    background-color: #25282a !important;
}

/* ABOUT PAGE */

/* HOMEPAGE */
.home-page-image{
    border-radius: 15px;
}
h1, h2 {
    font-family: "Cormorant Garamond", serif;
    color: rgb(202, 200, 200) !important;
    ;
}
h1 {
    font-size: 45px !important;
    font-weight: 600 !important;
}
h2 {
    font-size: medium;
    font-style: italic;
}
.card {
    background-color: #25282a !important;
    
}
h3 {
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    color: rgb(202, 200, 200) !important;
    text-decoration: none !important;;
}

/* monster-card styles */

#favoritesList{
    /* background-color:#821009 ; */
    background-color: #821009 ;
    border-radius: 10px;
}
.car-container{
    background-image: url(https://res.cloudinary.com/dprkq4xne/image/upload/v1717525356/Monster-project/scroll-background2_iubsgr.png);
}

.about {
    align-items: center;
}

p {
    color: rgb(228, 227, 227);
    font-family: "Cormorant Garamond", serif;
}
br {
    color: rgb(228, 227, 227);
    font-family: "Cormorant Garamond", serif; 
}

#favorite-button {
    font-size: 25px;
}

#monster-name {
    font-size: 60px;
    font-family: "Cormorant Garamond", serif !important;
    font-weight: 600;
}

h4 {
    font-size: 30px;
    font-family: "Cormorant Garamond", serif !important;
    font-weight: 200;
}

#search-bar {
    background-color: black;
}


.footer {
    background-color: black;
}

#monster-name{
font-family: fantasy;

}

#delete-button{
    background-color: #821009
}

#add-button{
    background-color: #821009
}
 
#see-profile {
    background-color: #821009
    
}

/* FONTS */
.cormorant-garamond-light {
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .cormorant-garamond-regular {
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .cormorant-garamond-medium {
    font-family: "Cormorant Garamond", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .cormorant-garamond-semibold {
    font-family: "Cormorant Garamond", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .cormorant-garamond-bold {
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .cormorant-garamond-light-italic {
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .cormorant-garamond-regular-italic {
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .cormorant-garamond-medium-italic {
    font-family: "Cormorant Garamond", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .cormorant-garamond-semibold-italic {
    font-family: "Cormorant Garamond", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .cormorant-garamond-bold-italic {
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-style: italic;
  }
  